<h2><%= label :name, "Article Name" %>
    <%= link_to article.name, article %></h2>
    <div class="manufacturer">
      <%= label :manufacturer, "Manufacturer" %>
      <%= article.manufacturer %></h2>

    </div>
    <%= image_tag("articles/" + article.image) %>
