<% provide(:title, 'Article Search') %>
<h1>Article Search</h1>

<% if user_signed_in? %>
    <div class="adminview">
      <%= link_to 'New article', new_article_path %>

    </div>
<%end %>

<div class="search">

  <%= form_tag search_articles_path, :method => "get" do %>
      <%= label_tag(:q, "Search:") %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>

</div>

<% if @search.results.size > 0 %>

  <div class="search_results">
	 <div class="facets">
		<h2>Categories</h2>
		<h3>Manufacturers:</h3>
		<ul class="facet">
		  <% for row in @search.facet(:manufacturer).rows -%>
			 <li><%= link_to(row.value, articles_path + url_for(:manufacturer => row.value)) %> (<%= row.count %>)</li>
		  <% end -%>
		</ul>
		<h3>Ingredients:</h3>
		<ul class="facet">
		  <% for row in @search.facet(:ingredients).rows -%>
			 <li><%= link_to(row.value, articles_path + url_for(:ingredients => row.value)) %> (<%= row.count %>)</li>
		  <% end -%>
		</ul>
	 </div>

	 <div class="pagination">
		<div class="results">
		  <h2>Results</h2>
		  <% @search.each_hit_with_result do |hit, article| %>
			 <div class="result">
				<h3><%= link_to hit.stored(:name), article %></h3>
				<div class="score"><p>Score: <%= hit.score %></p></div>
				<p>Manufacturer: <%= article.manufacturer %></p>
			 </div>
		  <% end %>
		</div>
		<%= will_paginate(@search.hits) %>
	 </div>
  </div>

<% else %>
  <div class="results">
    <p>Your query returned no results.</p>
  </div>
<% end %>