
<h2><%= link_to ingredient.inci_name, ingredient %></h2>
<div class="content">
<%= image_tag("ingredients/" + ingredient.structure) %>
<p>Formula: <%= ingredient.formula %></p>
<p>CAS number: <%= ingredient.cas_number %></p>
<p>EC number: <%= ingredient.ec_number %></p>
<p>Molecular weight: <%= ingredient.molecular_weight %></p>
</div>