<% provide(:title, 'Ingredients') %>
<div class="container">
  <div class="text-center">
	 <h1>Ingredients</h1>
  </div>
</div>

<% if admin_signed_in? %>
    <div class="adminview">
      <%= link_to 'New ingredient', new_ingredient_path %>

    </div>
<%end %>

<div class="container">
  <%= form_tag search_ingredients_path, :method => "get" do %>
      <%= label_tag 'search', 'Search:', class: "col-lg-1 control-label" %>
		<div class="col-lg-5">
		  <%= text_field_tag 'search', params[:search], class: "form-control" %>
		  <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
		</div>
  <% end %>
</div>

<%= render :partial => "ingredient", :collection => @ingredients %>

<%= content_for :head, auto_discovery_link_tag(:atom, ingredients_url(format: "atom")) %>

