<% provide(:title, 'Ingredient') %>
<h1><%= @ingredient.inci_name %></h1>


<p><%= truncate(@ingredient.formula, :length => 100) %></p>


<%= image_tag("ingredients/" + @ingredient.structure) %>

<p><%= truncate(@ingredient.cas_number, :length => 100) %></p>
<p><%= truncate(@ingredient.ec_number, :length => 100) %></p>
<p><%= @ingredient.molecular_weight %></p>

<%= render @articles %>





