<% provide(:title, 'Ingredient') %>
<h1><%= @ingredient.inci_name %></h1>


<p>
  <%= label(:formula, "Formula")     %>
  <%= truncate(@ingredient.formula, :length => 100) %>
</p>


<%= image_tag("ingredients/" + @ingredient.structure) %>

<p>
  <%= label(:cas_number, "CAS Number")     %>
  <%= truncate(@ingredient.cas_number, :length => 100) %>
</p>
<p>
  <%= label(:ec_number, "EC Number")     %>
  <%= truncate(@ingredient.ec_number, :length => 100) %>
</p>
<p>
  <%= label(:molecular_weight, "Molecular Weight")     %>
  <%= @ingredient.molecular_weight %>
</p>
<br>


<%= render @articles %>





