<% provide(:title, 'Home') %>
<div class="container">
  <div class="text-center">
	 <h1>Welcome to the Hair-Color-Style-Ingredient-Application!</h1>
  </div>
</div>

<div class="container">
  <% if !@articles.blank? %>
  <div class="row">
	 <% @articles.each do |article| %>
		<div class="col-md-4">
		<%= link_to image_tag("articles/" + article.image, :alt => article.name, :class => "home_art"), article_path(article) %>
		</div>
	 <% end %>
  </div>
  <% end %>
</div>

<div class="container">
  <div class="text-center">
  <%= form_tag search_articles_path, :method => "get" do %>
	 <%= label_tag 'search', 'Search:', class: "col-lg-1 control-label" %>
	 <div class="col-lg-5">
		<div class="row">
		  <%= text_field_tag 'search', params[:search], class: "form-control" %>
		  <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
		</div>
	 </div>
  <% end %>
  </div>
</div>

<div class="container">
  <% if !@ingredients.blank? %>
  <div class="row">
	 <% @ingredients.each do |ingredient| %>
		<div class="col-md-4">
		<%= link_to image_tag("ingredients/" + ingredient.structure, :alt => ingredient.inci_name, :class => "home"), ingredient_path(ingredient) %>
		</div>
	 <% end %>
  </div>
  <% end %>
</div>

<div class="atom">


</div>

<!--
<% unless admin_signed_in? -%>
  <p><%= link_to 'Sign up as Admin', new_admin_registration_path %></p>
  <p><%= link_to 'Sign in as Admin', new_admin_session_path %></p>
<% end -%>

<% unless user_signed_in? -%>
  <p><%= link_to 'Sign up as User', new_user_registration_path %></p>
  <p><%= link_to 'Sign in as User', new_user_session_path %></p>
<% end -%>

<% if user_signed_in? -%>
  <p><%= link_to 'Token Authentication Example', token_path(auth_token: current_user.authentication_token) %></p>
<% end -%>
-->


