<!DOCTYPE html>
<html>
  <head>
    <title>Project | <%= yield(:title) %></title>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag 'jquery', 'jquery_ujs', 'nested_form','jquery_nested_form' %>
    <%= stylesheet_link_tag "application" %>
    <%= auto_discovery_link_tag :atom, "/feed" %>
    <%= auto_discovery_link_tag :rss, "/feed.rss" %>
    <%= content_for :head %>
    <%= yield(:head) %>
  </head>
  <body>
	 <%= render "layouts/header" %>
     <div id="atom">
     <%= link_to image_tag('http://upload.wikimedia.org/wikipedia/en/4/43/Feed-icon.svg', size: "28x28"),
                 articles_url(format: 'atom') %>
     </div>


     <div id="content">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String) %>
      <%- end -%>
		<%= yield %>
	 </div>
	 <%= render "layouts/footer" %>
  </body>
</html>
