<!DOCTYPE html>
<html>
  <head>
    <title>Project | <%= yield(:title) %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <%= yield(:head) %>
  </head>
  <body>
	 <%= render "layouts/header" %>
    <div id="content">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String) %>
      <%- end -%>
		<%= yield %>
	 </div>
	 <%= render "layouts/footer" %>
  </body>
</html>
